.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(145, 154, 150, 0.3);
  backdrop-filter: blur(4px);
  z-index: 2;
}

.modal {
  height: fit-content;
  width: 23vw;
  padding: 15px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 10px;
  box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  color: #6813d4;
  text-align: center;

  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal span {
  text-align: center;
  margin-bottom: 20px;

  display: inline-block;
  width: 100%;

  font-size: 1.1rem;
  color: #aaaaaa;
}

.modal input,
.modal select {
  padding: 0 0 0 5px;
  height: 55px;
  width: 100%;
  outline: none;
  margin-bottom: 15px;
  color: #aaaaaa;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: transparent;
}

.modal input::placeholder,
select::placeholder {
  color: #aaaaaa;
}

.modal div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal div button {
  width: 50%;
  height: 50px;

  margin-left: 15px;
  border: none;
  border-radius: 5px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  background-color: #d51342;

  color: #ffffff;
  font-size: 1rem;
}

.modal button:last-child:disabled {
  background-color: rgba(104, 19, 213, 0.5);
}

.modal button:last-child {
  background-color: #6813d5;
}
