.vendedores {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.vendedores-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0 0;
  width: 80vw;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.table-vendedores {
  width: 60%;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.table-vendedores th {
  color: white;
  background-color: #2bc5e0;
  font-weight: bold;
  text-align: start;
  padding: 0.7rem;
}

.table-vendedores td {
  color: #666666;
  padding: 0.7rem;
}

.table-vendedores tr:nth-child(even) {
  background: #efefef;
}

.table-vendedores tr {
  background: white;
}

table,
th,
td {
  border-collapse: collapse;
}

.action-icons {
  gap: 44.75px;
  display: flex;
}

.action-icons img {
  cursor: pointer;
}

.vendedores-cabecalho {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding-bottom: 22.5px;
  position: relative;
}

.vendedores-cabecalho input {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 408px;
  height: 37px;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0 44px;
}

.vendedores-cabecalho h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #666666;
}

.vendedores-cabecalho button {
  all: unset;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 190px;
  height: 43px;
  background-color: #2bc5e0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.lupa {
  position: absolute;
  left: 310px;
  top: 10px;
  cursor: pointer;
}
